<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header"/>

<body>
<div th:replace="common/header :: navbar"/>

<div class="container">
    <div class="row" style="margin-bottom: -45px;">
        <div class="col-xs-8">
            <h2 class="section-headline">
                <h2 class="section-headline">
                    <span th:text="${user}? ${#strings.toUpperCase(user.username)} : 'Movies'"></span>
                </h2>
            </h2>
        </div>
        <div class="col-xs-4">
            <a th:href="@{/}"><img src="/image/logo2.jpg" class="img-responsive"/></a>
        </div>
    </div>
    <hr
            style="position: absolute; width: 80%; height: 6px; background-color: #333; z-index: -1; margin-top: -80px;"/>
    <img class="img-responsive" src="/image/cinemarow.jpg"
         style="margin-top: -75px; border-radius: 8px;"/>

	<!-- Alert INACTIVE movie -->
	<div class="alert alert-info" th:if="${inactiveMovie}">We are terribly sorry! This movie is not available at the moment, please choose another one!
    </div>
    <!--   -->
    
     <!-- Alert Already purchased movie  -->
    <div class="alert alert-info" th:if="${alreadyPurchased}">You have already purchased this movie! 
    <strong><a th:href="@{/myProfile}">Check Your Profile</a></strong>
    </div> 
    
    <form>
    	<input hidden="hidden" th:field="*{movie.id}" />
    	<div class="row" style="margin-top: 120px;">
    		<div class="col-xs-3">
    			<a th:href="@{/movieBox}"><strong>Back to movie list</strong></a><br></br>
    			<div class="movie-per-details">
    			<img class="img-responsive shelf-book" th:src="#{adminPath}+@{/image/movie/}+${movie.id}+'.png'" />
    			</div>
    		</div>
    		
    		<div class="col-xs-9">
    			<h3 th:text="${movie.title}">Movie Title</h3>
    			<div class="row">
    				<div class="col-xs-5">
    					<h5><strong>Director: </strong><span th:text="${movie.director}"></span></h5>
    					<p><strong>Studio: </strong><span th:text="${movie.studio}"></span></p>
    					<p><strong>Genre: </strong><span th:text="${movie.genre}"></span></p>
    					<p><strong>Language: </strong><span th:text="${movie.language}"></span></p>
    					<p><strong>Duration: </strong><span th:text="${movie.duration}"></span></p>
    				</div>
    				
    				<div class="col-xs-7">
    					<div class="panel panel-default" style="border-width: 5px; margin-top: 20px;">
    						<div class="panel-body">
    							<div class="row">
    								<div class="col-xs-6">
    									<h4>Price: <span style="color:#db3208;"><span th:text="${movie.price}"></span></span> &#8364;</h4>
    									
    								</div>
    								<div class="col-xs-6">
    									<h4 th:if="*{movie.isActive()==true}" style="color: green"><strong>AVAILABLE</strong></h4>
    									<h4 th:if="*{movie.isActive()==false}" style="color:darkred;"><strong>UNAVAILABLE</strong></h4>
    									<a th:href="@{/purchaseMovie(id=${movie.id})}"type="submit" 
    									class="btn btn-warning" style="color:black;border:1px solid black; padding: 10px 40px 10px 40px;">Purchase</a>
    								</div>
    							</div>
    						</div>
    					</div>
    				</div>
    			</div>
    			
    			<hr/>
    			<p th:text="${movie.description}"></p>
    		</div>
    	</div>
    </form>
</div>
<!-- end of container -->


<div th:replace="common/header :: footer" />

<div th:replace="common/header :: body-bottom-scripts"/>
</body>
</html>
