
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header"/>

<body>
<div th:replace="common/header :: navbar"/>

<a name="top"></a>

<div class="container">
    <div class="row" style="margin-bottom: -45px;">
        <div class="col-xs-8">
            <h2 class="section-headline">
                <h2 class="section-headline">
                    <span th:text="${user}? ${#strings.toUpperCase(user.username)} : 'Movies'"></span>
                </h2>
            </h2>
        </div>
        
        <div class="col-xs-4">
            <a th:href="@{/}"><img src="/image/logo2.jpg" class="img-responsive"/></a>
        </div>
    </div>
    
    <hr style="position: absolute; width: 80%; height: 6px; background-color: #333; z-index: -1; margin-top: -80px;"/>
    
    <img class="img-responsive" src="/image/cinemarow.jpg"
         style="margin-top: -75px; border-radius: 8px;"/>

    <div class="row" style="margin-top: 60px;">
        <div class="col-xs-9 col-xs-offset-3">
			<div th:if="${emptyList}">
				<h5 style="font-style: italic;">Oops, no active movie is found. Try something else or try again later.</h5>
			</div>
			
			<table border="0" id="movieList">
				<thead><tr><th></th></tr></thead>
				<tbody>
				<tr class="movie-item" data-th-each="movie : ${movieList}">
					<td>
						<div th:if="${movie != null}">
							<div class="row">                                        
								<div class="col-xs-4">
									<div class="movie-per">
									<a th:href="@{/movieDetails?id=}+${movie.id}"><img class="img-responsive shelf-book" th:src="#{adminPath}+@{/image/movie/}+${movie.id}+'.png'"></img></a>
								</div>
								</div>
								<div class="col-xs-8">
									<a th:href="@{/movieDetails?id=}+${movie.id}"><h4 th:text="${movie.title}"></h4></a>
									<span th:text="${movie.studio}"></span>
									<p th:text="${movie.director}"></p>						
									<a th:href="@{/movieDetails?id=}+${movie.id}"><span style="font-size:x-large;color:#db3208;"><span
									th:text="${movie.price}"></span> &#8364;</span> </a>
									
								</div>
							</div>
						</div>
					</td>
				</tr>
				</tbody>
			</table>
			</br>
           <a href="#top"><strong>Back to top</strong></a>
        </div>
    </div>
</div>
<!-- end of container -->

<div th:replace="common/header :: footer" />

<div th:replace="common/header :: body-bottom-scripts"/>
</body>
</html>
